*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    padding-top: 50px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}
.header__link{
    color: rgb(115, 115, 115);
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 21px;
text-decoration: none;
}
@media(max-width:800px){
    .header__list{
        display: none;
    }
    .header__nav{
        justify-content: center;
    }
}
.hero{
    padding-top: 11px;
    padding-bottom: 25px;
}
.hero__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__title{
    color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 50px;
font-weight: 900;
line-height: 59px;
margin-bottom: 58px;
}
.hero__btn{
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    text-decoration: none;
    padding: 15px 15px;
background: linear-gradient(135.87deg, rgb(185, 1, 96) 2.23%,rgb(46, 49, 146) 99.506%);
}
@media(max-width:800px){
    .hero__bg{
        display: none;
    }
    .hero__wrapper{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero{
        margin-top: 17px;
        background-image: url("./images/подложка\ 1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 23px;
        padding-bottom: 25px;
    }
    .hero__title{
        color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 25px;
font-weight: 900;
line-height: 25px;
max-width: 194px;
width: 100%;
text-align: center;
    }
}

.eva__title{
    font-family: Roboto;
font-size: 50px;
font-weight: 400;
line-height: 59px;
margin-bottom: 120px;
text-align: center;
}
.eva__item{
    border-radius: 9px;
max-width: 344px;
width: 100%;
padding-bottom: 30px;
background-color: rgb(255, 255, 255);
}
.eva__list{
    list-style: none;
   display: flex;
  gap: 61px;
}
.eva__item-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.eva__item-text{
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #767676;
    margin-left: 20px;
}
@media(max-width:1200px){
    .eva__list{
        justify-content: center;
        flex-wrap: wrap;
    }
}
.footer{
    padding-top: 172px;
    padding-bottom: 100px;
}
.footer__title{
    color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
}
.footer__text{
    color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 16px;
max-width: 224px;
width: 100%;
}
.footer__img{
    max-width: 33px;
    width: 100%;
}
.footer__items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:690px){
    .footer__wrapper{
        flex-direction: column;
        gap: 14px;
        justify-content: center;
        align-items: center;
    }
}


